div#streamer-info{
  width: 640px;
  margin: 10px auto 0px auto;
  position: relative;

  display: grid;
  grid-template-columns: 20px 160px 20px auto 50px 20px;
  grid-template-rows: 15px 50px 35px 75px auto 20px;
  grid-template-areas: 
   ". . . . . ."
   ". propic . name star ."
   ". propic . socials socials ."
   ". propic . description description ."
   ". . . description description ."
   ". . . . . .";
  grid-auto-rows: max-content;

  align-content: stretch;
  font-size: 0;
}

div#streamer-info img#streamer-pic{
  grid-area: propic;
  justify-self: stretch;
  align-self: stretch;
  position: relative;

  border-radius: 50%;
  border: solid 1px #9d3700;
  overflow: hidden;
}

div#streamer-info p#name{
  margin: 0px;

  grid-area: name;
  justify-self: start;
  align-self: start;

  text-align: left;
  font-size: 42px;
  font-weight: 500;
}

div#streamer-info div#streamer-socials-wrapper{
  grid-area: socials;
  justify-self: start;
  align-self: start;
  position: relative;

  font-weight: 400;
  color: #484848;
}
div#streamer-info div#streamer-socials-wrapper div#streamer-twitch *, div#streamer-info div#streamer-socials-wrapper div#streamer-twitter *{
  display: inline-block;

  font-weight: 400;
  font-size: 14px;
}
div#streamer-info div#streamer-socials-wrapper span#twitch-inline-logo{
  width: 12px;
  height: 12px;
  translate: 0px 4px;
  margin: 0px 3px 0px 0px;
}
div#streamer-info div#streamer-socials-wrapper span#twitter-inline-logo{
  width: 14px;
  height: 14px;
  translate: 0px 2px;
  margin: 0px 1px 0px 0px;
}

div#streamer-info p#description{

  margin: 10px 0px 0px 0px;

  grid-area: description;
  justify-self: start;
  align-self: start;
  position: relative;
  font-size: 16px;
  color: #282828;

  text-align: justify;
}

div#streamer-info div#favorite-streamer-wrapper{
  grid-area: star;
  justify-self: stretch;
  align-self: stretch;
  position: relative;

  cursor: pointer;
}

div#streamer-info div#favorite-streamer-wrapper svg.star-icon{
  width: 40px;
  height: 40px;
  margin: 4px 6px 6px 4px;
}

a#insights{
  margin: 0px auto 20px auto;
  display: block;
  width: 350px;
  text-align: center;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 20px;

  animation: hue 90s ease-in-out 0s infinite forwards;
}

div#streams-tweets-wrapper{
  width: 75%;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

div#streams-tweets-wrapper div#streams-list, div#streams-tweets-wrapper div#tweets-list{
  width: 480px;
}
div#streams-list p#streams-list-title, div#tweets-list p#tweets-list-title{
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  margin: 0px;
}
div#streams-list p#streams-list-title{
  color: #5A3E85;
}
div#tweets-list p#tweets-list-title{
  color: #55acee;
  margin: 0px 0px 10px 0px;
}
div.stream-info{
  margin: 10px 0px 0px 0px;
  width: 480px;

  display: grid;
  grid-template-columns: 10px 160px 10px auto 10px;
  grid-template-rows: 10px 45px 20px 25px 10px;
  grid-template-areas: 
  ". . . . ."
  ". thumbnail . title ."
  ". thumbnail . views ."
  ". thumbnail . timestamp ."
  ". . . . .";
}

div.stream-info img.stream-thumbnail{
  grid-area: thumbnail;
  justify-self: stretch;
  height: 90px;
}
div.stream-info p{
  margin: 0px;
}
div.stream-info p.title{
  grid-area: title;
  justify-self: stretch;
  align-self: start;
  font-size: 18px;

  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}
div.stream-info p.views{
  grid-area: views;
  justify-self: stretch;
  align-self: start;
  font-size: 13px;
  font-weight: 400;
  color: #484848
}
div.stream-info p.started-at{
  grid-area: timestamp;
  justify-self: stretch;
  align-self: start;
  font-size: 13px;
  font-weight: 300;
  color: #636363
}

div.tweet-info{
  width: 100%;
}

div.tweet-info p.text{
  margin: 0px auto 5px auto;
  padding: 10px 10px 0px 10px;
}

div.tweet-info div.extra-info{
  padding: 0px 10px 0px 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 13px;
  font-weight: 300;
  color: #636363
}

div.extra-info span{
  display: inline-block;
}

div.extra-info span.likes{
  height: 14px;
  width: 14px;
}
div.extra-info span.likes svg.likes-icon{
  height: 100%;
  width: 100%;
  translate: 0px 2px;
}

div.extra-info span.retweets{
  height: 14px;
  width: 14px;
  margin: 0px 0px 0px 5px;
}
div.extra-info span.retweets svg.retweets-icon{
  height: 100%;
  width: 100%;
  translate: 0px 2px;
}


div.tweet-info p.date{
  margin: 0px;
  padding: 0px 0px 0px 10px;
}

div.tweet-info p.text span.user-tag{
  color: #0c61a2;
}

div.tweet-info p.text span.hash-tag{
  color: #0c9da2;
}
div.tweet-info p.text span.link{
  font-style: italic;
  color: #3a4a57;
}