div#search-wrapper{
  width: 800px;
  margin: 100px auto 0px auto;
}

div#search-wrapper *{
  display: block;
}

div#search-wrapper img#logo{
  margin: 0 auto;
  height: 160px;
  width: 160px;
}

div#search-wrapper form#search-form{
  margin: 20px auto 10px auto;
  height: 40px;
  width: 420px;
  position: relative;
}
div#search-wrapper form#search-form input[type=text]{
  height: 40px;
  width: 100%;
  padding: 0 40px 0 20px;

  font: inherit;
  border-radius: 20px;
  border: solid 1px #827255;
  background-color: #fff9ef;
}
div#search-wrapper form#search-form input[type=text]:focus{
  box-shadow: 0px 0px 7px -3px rgba(0,0,0,0.75);
}
div#search-wrapper form#search-form button[type=submit]{
  position: absolute;
  height: 40px;
  width: 40px;
  right: 2px;
  top: 0px;

  background-color: transparent;
  border: none;
  border-radius: 20px;
}

div#search-wrapper div#trending-streamers, div#search-wrapper div#favourite-streamers{
  margin: 0 auto;
  width: 700px;
}

div#search-wrapper div#trending-streamers p, div#search-wrapper div#favourite-streamers p{
  text-align: center;
  font-size: 25px;
  font-weight: 700;
}

div#search-wrapper div#trending-streamers p{
  margin: 30px 0 10px 0;
}

div#search-wrapper div#favourite-streamers p{
  margin: 20px 0 10px 0;
}

div#search-wrapper div#trending-streamers div#img-wrapper, div#search-wrapper div#favourite-streamers div#img-wrapper{
  display: flex;
  justify-content: center;
}

div#search-wrapper div#trending-streamers div#img-wrapper img.streamer-propic-trending, div#search-wrapper div#favourite-streamers div#img-wrapper img.streamer-propic-favourite{
  margin: 0px 10px 0px 10px;
  width: 67px;
  height: 67px;
  
  border-radius: 50%;
}

div#search-wrapper div#trending-streamers div#img-wrapper img.streamer-propic-trending{
  border: solid 2px #ff9100;
}
div#search-wrapper div#favourite-streamers div#img-wrapper img.streamer-propic-favourite{
  border: solid 2px #0066ff;
}

div#search-wrapper p#submitted-info{
  text-align: center;
  margin: 30px;
  color: #827255;
}

/*MOBILE*/
@media only screen and (max-width: 600px) {
  div#search-wrapper{
    width: 90%;
  }
  div#search-wrapper form#search-form{
    width: 100%;
  }
  div#search-wrapper div#trending-streamers{
    width: 100%;
  }
}