div.main-stream-info{
  margin: 20px auto 10px auto;
  width: 670px;

  display: grid;
  grid-template-columns: 10px 240px 10px 400px 10px;
  grid-template-rows: 10px 70px 65px 10px;
  grid-template-areas: 
  ". . . . ."
  ". thumbnail . title ."
  ". thumbnail . info ."
  ". . . . .";
}

div.main-stream-info div.stream-thumbnail-big{
  grid-area: thumbnail;
  justify-self: stretch;
  align-self: stretch;
  position: relative;
}

div.stream-thumbnail-big img.stream-thumbnail-big{
  height: 135px;
  width: 240px;
  border-radius: 5px;
}

div.stream-thumbnail-big div.timestamp{
  position: absolute;
  bottom: 4px;
  left: 4px;
  background-color: black;
  color: white;
  opacity: 0.7;
  font-weight: 600;
  padding: 2px 4px 2px 4px;
  border-radius: 3px;
}

div.main-stream-info p.stream-title{
  margin: 0px;

  grid-area: title;
  justify-self: start;
  align-self: start;

  text-align: left;
  font-size: 28px;
  font-weight: 600;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
}

div.main-stream-info div.stream-details{
  grid-area: info;
  justify-self: start;
  align-self: flex-end;

  font-size: 14px;
  font-weight: 400;
  color: #484848;
}

div.stream-details p{
  margin: 0px;
}
p.mango-score{
  margin: 15px 0px 5px 0px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}
p.mango-score span#score{
  font-weight: 700;
  color: #b5db00;
  animation: hue-text 90s ease-in-out 0s infinite forwards;
}


div.main-chart-wrapper{
  position: relative;
  margin: 0px auto 10px auto;
  width: 950px;
}

div.main-chart-wrapper p.chart-title{
  margin: 10px 0px 10px 0px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}

div.main-chart-wrapper div.insight-info-viewers{
  position: absolute;
  top: 5px;
  right: 57px;
}
div.main-chart-wrapper div.insight-info-viewers div.insight-info-viewers-icon{
  position: absolute;
  top: 4px;
  right: 0px;
  height: 25px;
  width: 25px;
}

div.main-chart-wrapper div.insight-info-viewers-icon svg.info-icon{
  width: 95%;
  height: 95%;
}

div.main-chart-wrapper div.insight-tooltip{
  position: absolute;
  top: 32px;
  right: 4px;
  max-width: 240px;
  min-width: 220px;
  border: solid 1px #bfbfbf;
  z-index: 5;
  padding: 5px 5px 5px 5px;
  border-radius: 4px;
  background-color: white;
  font-size: 13px;
  font-weight: 400;
  color: #484848;
  display: none;
}
div.main-chart-wrapper div.insight-info-viewers:hover div.insight-tooltip{
  display: block;
}

div.chat-bar, div.game-bar{
  width: 831px;
  height: 20px;
  background-color: aliceblue;
  display: flex;
  border-radius: 4px;
}

div.chat-bar{
  margin: 0px 0px 0px 68px; 
}
div.game-bar{
  margin: 10px 0px 0px 68px;
}
div.chat-bar div.tunit, div.game-bar div.game-tunit{
  position: relative; 
  display: inline-flex; 
  height: 100%; 
  border: solid 1px black;
  flex-grow: 1;
}

div.chat-bar div.tunit div.tunit-color{
  width: 100%;
  height: 100%;
  background-color: red;
}


div.tunit-msgs{
  display: none;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
  z-index: 10;
}
div.tunit:hover div.tunit-msgs{
  display: block;
}
div.tunit-color div.word-info{
  margin: 1px auto 1px auto;
}
div.word-info p.word{
  line-height: 15px;
  margin: 2px 0px 0px 0px;
  text-align: center;
}
div.word-info p.word-count{
  font-size: 10px;
  font-weight: 300;
  margin: 0px 0px 5px 0px;
  text-align: center;
}

div.game-bar div.game-tunit div.game-tunit-info{
  display: none;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 3px 10px 4px 10px;;
  border-radius: 6px;
  background-color: #dbffff;
  text-align: center;
  z-index: 11;
}

div.game-bar div.game-tunit div.game-tunit-info p{
  color: #151515;
}
div.game-bar div.game-tunit div.game-tunit-info p.game-tunit-name{
  font-size: 15px;
  margin: 3px auto 0px auto;
}
div.game-bar div.game-tunit div.game-tunit-info p.game-viewers{
  font-size: 13px;
  font-weight: 400;
  margin: 0px auto 5px auto;
}
div.game-bar div.game-tunit div.game-tunit-info p.game-tunit-duration{
  margin: 3px auto 0px auto;
  padding: 3px 0px 0px 0px;
  width: 100px;
  border-top: solid 1px #bfbfbf;
  font-size: 12px;
  font-weight: 400;
}

div.game-bar div.game-tunit:hover div.game-tunit-info{
  display: block;
}

div.custom-tooltip{
  background-color: white;
  max-width: 200px;
  padding: 3px 6px 3px 3px;
  border: solid 1px #bf00a8;
  border-radius: 5px;
  color: #484848;
}

div.custom-tooltip-extra-info{
  display: flex;
  width: 100%;
  padding: 0px 4px 0px 4px;
  justify-content: space-between;
}
div.custom-tooltip-extra-info span{
  display: inline-block;
  font-size: 10px;
}
div.custom-tooltip-extra-info span.tooltip-time{
  padding: 0px 10px 0px 0px;
}
div.custom-tooltip p.tooltip-title{
  font-size: 13px;
  margin: 0px;
}


div.raid-label{
  background-color: #f1c9ff;
  font-size: 10px;
  padding: 1px;
  border-radius: 0px 4px 4px 0px;
}
div.raid-label p{
  margin: 0px 1px 1px 1px;
}

div.raid-label p.raid-hour{
  display: none;
}
div.raid-label:hover p.raid-hour{
  display: block;
}

div.extra-stream-info{
  width: 1285px;
  margin: 30px auto 20px auto;
}

div.extra-stream-info div.insight-graph-wrapper {
  position: relative;
  margin: 10px auto 10px auto;
  width: 600px;
}

div.sub-info{
  top: 5px !important;
}

div.extra-stream-info div.stream-tweets-wrapper{
  position: relative;
  margin: 30px 10px 10px 10px;
  width: 100%;
}

div.stream-tweets-wrapper div.stream-tweets-list{
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-flow: row wrap;
}

div.stream-tweets-list div#tweets-list{
  width: 420px;
}